anaconda_projects

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.whl

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# ===========================
# IDEs
# ===========================
.vscode/
.idea/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# Power BI AutoSave
# ===========================
*.pbix.autosave

# ===========================
# Operating System
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Data
# ===========================
dados/brutos/*.csv
dados/brutos/*.csv.gz
!dados/brutos/README.md
!dados/brutos/.gitkeep

# ===========================
# Python Cache
# ===========================
.pytest_cache/
.mypy_cache/
.cache/

# ===========================
# Build
# ===========================
dist/
build/